# Django
**/db.sqlite3
static/**

**__py_cache__**

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# VSCode
**/.vscode

# MacOS
**/.DS_Store
