[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
jupyter = "*"

[packages]
djangorestframework = "*"
pygments = "*"
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-extra-fields = "*"
django-storages = "*"
boto3 = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
